In [3]:
import pandas as pd
data = pd.read_csv("test_data_full.csv",header=0,index_col=False)

In [4]:
data.rename({'price':'label'}, axis=1, inplace=True)

In [5]:
data.head()

               region    label  price_per_size  size  rooms  rent
0  Östermalm / Gärdet  2775000          119099  23.3    1.0  1071
1  Västra Kungsholmen  2025000          117733  17.2    1.0   817
2            Kärrtorp  1910000           68214  28.0    1.0  1689
3  Gärdet - Östermalm  2650000          101923  26.0    1.0  1324
4           Östermalm  2570000          135263  19.0    1.0  1077

In [6]:
import nltk

In [32]:
X = data.iloc[:, :-1].values
X

array([['Viggbyholm', 1600000, 59259, 27.0, 1.0],
       ['Ektorp', 1550000, 77500, 20.0, 1.0],
       ['Årsta', 2200000, 73333, 30.0, 1.0],
       ...,
       ['Södermalm', 6905000, 94589, 73.0, 2.5],
       ['Östermalm', 6150000, 106034, 58.0, 2.0],
       ['Vasastan', 6200000, 93939, 66.0, 3.0]], dtype=object)

In [7]:
## One-hot encoding
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(handle_unknown='ignore')
enc.fit(data)

OneHotEncoder(categories='auto', drop=None, dtype=<class 'numpy.float64'>,
              handle_unknown='ignore', sparse=True)

In [8]:
enc.categories_[0]

array(['Abrahamsberg', 'Abrahamsberg / Åkeslund', 'Akalla', ...,
       'Östertälje', 'Östra Orminge', 'Övre Gärdet'], dtype=object)

In [9]:
enc_df = pd.DataFrame(enc.fit_transform(data[['region']]).toarray())

In [10]:
enc_df.head()

,0,1,2,3,4,5,6,7,8,9,...,1298,1299,1300,1301,1302,1303,1304,1305,1306,1307
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
data = data.join(enc_df)

In [12]:
data.head()

,region,label,price_per_size,size,rooms,rent,0,1,2,3,...,1298,1299,1300,1301,1302,1303,1304,1305,1306,1307
0,Östermalm / Gärdet,2775000,119099,23.3,1.0,1071,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Västra Kungsholmen,2025000,117733,17.2,1.0,817,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Kärrtorp,1910000,68214,28.0,1.0,1689,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Gärdet - Östermalm,2650000,101923,26.0,1.0,1324,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Östermalm,2570000,135263,19.0,1.0,1077,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
regions = pd.DataFrame(data, columns=['region'])

In [14]:
regions

                      region
0         Östermalm / Gärdet
1         Västra Kungsholmen
2                   Kärrtorp
3         Gärdet - Östermalm
4                  Östermalm
...                      ...
19642              Östermalm
19643           Nacka Strand
19644  Norra Djurgårdsstaden
19645       Vasastan - Atlas
19646     Vasastan/ Torsplan

[19647 rows x 1 columns]

In [15]:
dum_df = pd.get_dummies(regions, columns=["region"])

In [16]:
dum_df

,region_Abrahamsberg,region_Abrahamsberg / Åkeslund,region_Akalla,region_Akallahöjden,region_Alby,region_Alby - Norsborg,region_Alphyddan,region_Alvik - Äppelviken,region_Annedal,region_Apoteksskogen,...,region_Östermalm/ Vasastan,region_Östermalm/Gärdet,region_Östermalm/Karlaplan,region_Östermalm/Nedre Gärdet,region_Östermalm/Nedre gärdet,region_Östermalm/Strandvägen,region_Östermalm/Vasastan,region_Östertälje,region_Östra Orminge,region_Övre Gärdet
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19642,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19643,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19644,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19645,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19646,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
data_one_hpt = data.join(dum_df)

In [18]:
data_one_hpt

,region,label,price_per_size,size,rooms,rent,0,1,2,3,...,region_Östermalm/ Vasastan,region_Östermalm/Gärdet,region_Östermalm/Karlaplan,region_Östermalm/Nedre Gärdet,region_Östermalm/Nedre gärdet,region_Östermalm/Strandvägen,region_Östermalm/Vasastan,region_Östertälje,region_Östra Orminge,region_Övre Gärdet
0,Östermalm / Gärdet,2775000,119099,23.3,1.0,1071,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,Västra Kungsholmen,2025000,117733,17.2,1.0,817,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,Kärrtorp,1910000,68214,28.0,1.0,1689,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,Gärdet - Östermalm,2650000,101923,26.0,1.0,1324,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,Östermalm,2570000,135263,19.0,1.0,1077,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19642,Östermalm,6150000,111818,55.0,2.0,1667,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
19643,Nacka Strand,5050000,60843,83.0,2.5,4777,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
19644,Norra Djurgårdsstaden,5525000,85000,65.0,3.0,3179,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
19645,Vasastan - Atlas,5550000,88095,63.0,2.0,2955,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
19646,Vasastan/ Torsplan,7130000,109692,65.0,2.0,3250,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
data_one_hot_drop = data_one_hpt.drop(columns=['region'])
data_one_hpt

,region,label,price_per_size,size,rooms,rent,0,1,2,3,...,region_Östermalm/ Vasastan,region_Östermalm/Gärdet,region_Östermalm/Karlaplan,region_Östermalm/Nedre Gärdet,region_Östermalm/Nedre gärdet,region_Östermalm/Strandvägen,region_Östermalm/Vasastan,region_Östertälje,region_Östra Orminge,region_Övre Gärdet
0,Östermalm / Gärdet,2775000,119099,23.3,1.0,1071,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,Västra Kungsholmen,2025000,117733,17.2,1.0,817,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,Kärrtorp,1910000,68214,28.0,1.0,1689,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,Gärdet - Östermalm,2650000,101923,26.0,1.0,1324,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,Östermalm,2570000,135263,19.0,1.0,1077,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19642,Östermalm,6150000,111818,55.0,2.0,1667,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
19643,Nacka Strand,5050000,60843,83.0,2.5,4777,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
19644,Norra Djurgårdsstaden,5525000,85000,65.0,3.0,3179,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
19645,Vasastan - Atlas,5550000,88095,63.0,2.0,2955,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
19646,Vasastan/ Torsplan,7130000,109692,65.0,2.0,3250,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
data_one_hot_drop

,label,price_per_size,size,rooms,rent,0,1,2,3,4,...,region_Östermalm/ Vasastan,region_Östermalm/Gärdet,region_Östermalm/Karlaplan,region_Östermalm/Nedre Gärdet,region_Östermalm/Nedre gärdet,region_Östermalm/Strandvägen,region_Östermalm/Vasastan,region_Östertälje,region_Östra Orminge,region_Övre Gärdet
0,2775000,119099,23.3,1.0,1071,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,2025000,117733,17.2,1.0,817,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,1910000,68214,28.0,1.0,1689,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,2650000,101923,26.0,1.0,1324,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,2570000,135263,19.0,1.0,1077,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19642,6150000,111818,55.0,2.0,1667,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
19643,5050000,60843,83.0,2.5,4777,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
19644,5525000,85000,65.0,3.0,3179,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
19645,5550000,88095,63.0,2.0,2955,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
19646,7130000,109692,65.0,2.0,3250,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
data.describe()

In [22]:
data_one_hot_drop.describe()

,label,price_per_size,size,rooms,rent,0,1,2,3,4,...,region_Östermalm/ Vasastan,region_Östermalm/Gärdet,region_Östermalm/Karlaplan,region_Östermalm/Nedre Gärdet,region_Östermalm/Nedre gärdet,region_Östermalm/Strandvägen,region_Östermalm/Vasastan,region_Östertälje,region_Östra Orminge,region_Övre Gärdet
count,1.964700e+04,19647.000000,19647.000000,19647.000000,19647.000000,19647.000000,19647.000000,19647.000000,19647.000000,19647.000000,...,19647.000000,19647.000000,19647.000000,19647.000000,19647.000000,19647.000000,19647.000000,19647.000000,19647.000000,19647.000000
mean,3.721753e+06,79518.548684,49.088024,1.959027,2644.795083,0.001985,0.000153,0.001171,0.000153,0.001018,...,0.000763,0.000662,0.000051,0.000254,0.000051,0.000254,0.002494,0.000153,0.000051,0.000305
std,1.657912e+06,25757.958683,19.200381,1.015908,1077.815819,0.044511,0.012356,0.034196,0.012356,0.031890,...,0.027621,0.025715,0.007134,0.015951,0.007134,0.015951,0.049879,0.012356,0.007134,0.017473
min,4.500000e+05,9692.000000,4.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.650000e+06,60417.000000,33.550000,1.000000,1830.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.195000e+06,80714.000000,46.000000,2.000000,2521.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,4.800000e+06,99138.000000,62.500000,2.000000,3304.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.475000e+07,475000.000000,100.000000,90.000000,7716.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
data_one_hot_drop.describe()

In [27]:
import xgboost as xgb

In [23]:
lables = pd.DataFrame(data, columns=['label'])
test_data = data_one_hot_drop.drop(columns=['label'])

In [24]:
lables

         label
0      2775000
1      2025000
2      1910000
3      2650000
4      2570000
...        ...
19642  6150000
19643  5050000
19644  5525000
19645  5550000
19646  7130000

[19647 rows x 1 columns]

In [25]:
test_data

,price_per_size,size,rooms,rent,0,1,2,3,4,5,...,region_Östermalm/ Vasastan,region_Östermalm/Gärdet,region_Östermalm/Karlaplan,region_Östermalm/Nedre Gärdet,region_Östermalm/Nedre gärdet,region_Östermalm/Strandvägen,region_Östermalm/Vasastan,region_Östertälje,region_Östra Orminge,region_Övre Gärdet
0,119099,23.3,1.0,1071,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,117733,17.2,1.0,817,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,68214,28.0,1.0,1689,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,101923,26.0,1.0,1324,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,135263,19.0,1.0,1077,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19642,111818,55.0,2.0,1667,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
19643,60843,83.0,2.5,4777,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
19644,85000,65.0,3.0,3179,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
19645,88095,63.0,2.0,2955,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
19646,109692,65.0,2.0,3250,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
xgb_model = xgb.XGBClassifier(objective="multi:softprob", random_state=42)
xgb_model.fit(test_data, lables)
y_pred = xgb_model.predict(test_data)

In [ ]:
xgb_model = xgb.XGBClassifier(objective="multi:softprob", random_state=42)

In [ ]:
xgb_model.fit(test_data, lables)

In [28]:
xg_reg = xgb.XGBRegressor(objective ='reg:linear', colsample_bytree = 0.3, learning_rate = 0.1,
                max_depth = 5, alpha = 10, n_estimators = 10)

In [29]:
xg_reg.fit(test_data, lables)

[20:04:46] WARNING: /Users/travis/build/dmlc/xgboost/src/objective/regression_obj.cu:170: reg:linear is now deprecated in favor of reg:squarederror.
[20:04:47] WARNING: /Users/travis/build/dmlc/xgboost/src/objective/regression_obj.cu:170: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(alpha=10, base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.3, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.1, max_delta_step=0, max_depth=5,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=10, n_jobs=0, num_parallel_tree=1,
             objective='reg:linear', random_state=0, reg_alpha=10, reg_lambda=1,
             scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [ ]:
preds = xg_reg.predict(test_data)

In [30]:
rmse = np.sqrt(mean_squared_error(y_test, preds))
print("RMSE: %f" % (rmse))

NameError: name 'np' is not defined

In [ ]:
xg_reg.predict(test_data.get())

In [ ]:
data_one_hot_drop.describe()

In [ ]:
import xgboost as xgb

In [ ]:
lables = pd.DataFrame(data, columns=['price'])
test_data = data_one_hot_drop.drop(columns=['price'])

In [ ]:
lables

In [ ]:
test_data

In [ ]:
xgb_model = xgb.XGBClassifier(objective="multi:softprob", random_state=42)
xgb_model.fit(test_data, lables)
y_pred = xgb_model.predict(test_data)

In [ ]:
xgb_model = xgb.XGBClassifier(objective="multi:softprob", random_state=42)

In [ ]:
xgb_model.fit(test_data, lables)

In [ ]:
xg_reg = xgb.XGBRegressor(objective ='reg:linear', colsample_bytree = 0.3, learning_rate = 0.1,
                max_depth = 5, alpha = 10, n_estimators = 10)

In [ ]:
xg_reg.fit(test_data, lables)

In [ ]:
preds = xg_reg.predict(test_data)

In [ ]:
rmse = np.sqrt(mean_squared_error(y_test, preds))
print("RMSE: %f" % (rmse))

In [ ]:
xg_reg.predict(test_data.head(2))

In [ ]:
 test_data.head(2)

In [ ]:
data_one_hot_drop.describe()

In [ ]:
import xgboost as xgb

In [ ]:
lables = pd.DataFrame(data, columns=['price'])
test_data = data_one_hot_drop.drop(columns=['price'])

In [ ]:
lables

In [ ]:
test_data

In [ ]:
xgb_model = xgb.XGBClassifier(objective="multi:softprob", random_state=42)
xgb_model.fit(test_data, lables)
y_pred = xgb_model.predict(test_data)

In [ ]:
xgb_model = xgb.XGBClassifier(objective="multi:softprob", random_state=42)

In [ ]:
xgb_model.fit(test_data, lables)

In [ ]:
xg_reg = xgb.XGBRegressor(objective ='reg:linear', colsample_bytree = 0.3, learning_rate = 0.1,
                max_depth = 5, alpha = 10, n_estimators = 10)

In [ ]:
xg_reg.fit(test_data, lables)

In [ ]:
preds = xg_reg.predict(test_data)

In [ ]:
rmse = np.sqrt(mean_squared_error(y_test, preds))
print("RMSE: %f" % (rmse))

In [ ]:
xg_reg.predict(test_data.head(2))

xg_reg.accuracy()

In [ ]:
 test_data.head(2)

In [ ]:
#Accuracy
from sklearn.metrics import accuracy_score

# make predictions for test data
# predictions = [round(value) for value in y_pred]

# evaluate predictions
accuracy = accuracy_score(test_data, lables)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

              price  price_per_size          size         rooms          rent
count  1.916900e+04    19169.000000  19169.000000  19169.000000  19169.000000
mean   3.712476e+06    78929.689760     49.343471      1.968439   2660.655642
std    1.655455e+06    25832.944418     19.190089      1.021942   1084.848738
min    4.500000e+05    10000.000000      4.000000      1.000000      1.000000
25%    2.630000e+06    59890.000000     34.000000      1.000000   1836.000000
50%    3.175000e+06    80000.000000     46.000000      2.000000   2530.000000
75%    4.740000e+06    98684.000000     63.000000      2.000000   3324.000000
max    1.475000e+07   475000.000000    100.000000     90.000000   8430.000000

In [61]:
data_one_hot_drop.describe()

,price,price_per_size,size,rooms,rent,region_Abrahamsberg,region_Abrahamsberg / Åkeslund,region_Akalla,region_Akalla Trädgårdsstad,region_Alby,...,region_Östermalm/Gärdet,region_Östermalm/Karlaplan,region_Östermalm/Nedre Gärdet,region_Östermalm/Nedre gärdet,region_Östermalm/Strandvägen,region_Östermalm/Vasastan,region_Österskär/Tuna,region_Östertälje,region_Östra Orminge,region_Övre Gärdet
count,1.916900e+04,19169.000000,19169.000000,19169.000000,19169.000000,19169.000000,19169.000000,19169.000000,19169.000000,19169.000000,...,19169.000000,19169.000000,19169.000000,19169.000000,19169.000000,19169.000000,19169.000000,19169.000000,19169.000000,19169.000000
mean,3.712476e+06,78929.689760,49.343471,1.968439,2660.655642,0.002348,0.000209,0.000939,0.000052,0.001148,...,0.000835,0.000104,0.000261,0.000052,0.000261,0.002661,0.000052,0.000261,0.000052,0.000365
std,1.655455e+06,25832.944418,19.190089,1.021942,1084.848738,0.048396,0.014444,0.030630,0.007223,0.033859,...,0.028880,0.010214,0.016149,0.007223,0.016149,0.051513,0.007223,0.016149,0.007223,0.019107
min,4.500000e+05,10000.000000,4.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.630000e+06,59890.000000,34.000000,1.000000,1836.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.175000e+06,80000.000000,46.000000,2.000000,2530.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,4.740000e+06,98684.000000,63.000000,2.000000,3324.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.475000e+07,475000.000000,100.000000,90.000000,8430.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [62]:
import xgboost as xgb

In [65]:
lables = pd.DataFrame(data, columns=['price'])
test_data = data_one_hot_drop.drop(columns=['price'])

In [64]:
lables

         price
0      1600000
1      1550000
2      2200000
3      2480000
4      2150000
...        ...
19164  5600000
19165  5925000
19166  6905000
19167  6150000
19168  6200000

[19169 rows x 1 columns]

In [66]:
test_data

,price_per_size,size,rooms,rent,region_Abrahamsberg,region_Abrahamsberg / Åkeslund,region_Akalla,region_Akalla Trädgårdsstad,region_Alby,region_Alby - Norsborg,...,region_Östermalm/Gärdet,region_Östermalm/Karlaplan,region_Östermalm/Nedre Gärdet,region_Östermalm/Nedre gärdet,region_Östermalm/Strandvägen,region_Östermalm/Vasastan,region_Österskär/Tuna,region_Östertälje,region_Östra Orminge,region_Övre Gärdet
0,59259,27.0,1.0,2171,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,77500,20.0,1.0,983,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,73333,30.0,1.0,2455,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,88571,28.0,1.0,1552,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,71667,30.0,1.0,1945,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19164,86154,65.0,2.0,2081,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19165,71386,83.0,3.0,3673,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19166,94589,73.0,2.5,2953,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19167,106034,58.0,2.0,2054,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19168,93939,66.0,3.0,3256,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
xgb_model = xgb.XGBClassifier(objective="multi:softprob", random_state=42)
xgb_model.fit(test_data, lables)
y_pred = xgb_model.predict(test_data)

/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/_label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/_label.py:268: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [54]:
xgb_model = xgb.XGBClassifier(objective="reg:squarederror", random_state=42)

In [38]:
xg_reg = xgb.XGBRegressor(objective ='reg:squarederror', colsample_bytree = 0.3, learning_rate = 0.1,
                max_depth = 5, alpha = 10, n_estimators = 10)

In [39]:
xg_reg.fit(test_data, lables)

XGBRegressor(alpha=10, base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.3, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.1, max_delta_step=0, max_depth=5,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=10, n_jobs=0, num_parallel_tree=1,
             objective='reg:squarederror', random_state=0, reg_alpha=10,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [40]:
preds = xg_reg.predict(test_data)

In [41]:
xg_reg.predict(test_data.head(2))

array([1845039.1, 1780379. ], dtype=float32)

xg_reg.accuracy()

In [83]:
 test_data.head(2)

,price_per_size,size,rooms,rent,region_Abrahamsberg,region_Abrahamsberg / Åkeslund,region_Akalla,region_Akalla Trädgårdsstad,region_Alby,region_Alby - Norsborg,...,region_Östermalm/Gärdet,region_Östermalm/Karlaplan,region_Östermalm/Nedre Gärdet,region_Östermalm/Nedre gärdet,region_Östermalm/Strandvägen,region_Östermalm/Vasastan,region_Österskär/Tuna,region_Östertälje,region_Östra Orminge,region_Övre Gärdet
0,59259,27.0,1.0,2171,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,77500,20.0,1.0,983,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [42]:
xg_reg.save_model('poc.model')

In [43]:
xg_reg.load_model('poc.model')

In [55]:
import xgboost as xgb
from xgboost import Booster

booster = Booster({'nthread': 4})
booster.load_model('poc.model')
xgb_model._Booster = booster

In [48]:
xg_reg.dump_model('dump.raw.txt', 'featmap.txt')

AttributeError: 'XGBRegressor' object has no attribute 'dump_model'

In [56]:
xgb_model.predict(test_data.head(2))

/Users/sathvik.katam/Library/Python/3.7/lib/python/site-packages/xgboost/sklearn.py:902: UserWarning: Label encoder is not defined.  Returning class probability.
  'Label encoder is not defined.  Returning class probability.')

array([1845039.1, 1780379. ], dtype=float32)

In [57]:
booster.predict(test_data.head(2))

TypeError: ('Expecting data to be a DMatrix object, got: ', <class 'pandas.core.frame.DataFrame'>)

In [59]:
test_data.head(1)

,price_per_size,size,rooms,rent,0,1,2,3,4,5,...,region_Östermalm/ Vasastan,region_Östermalm/Gärdet,region_Östermalm/Karlaplan,region_Östermalm/Nedre Gärdet,region_Östermalm/Nedre gärdet,region_Östermalm/Strandvägen,region_Östermalm/Vasastan,region_Östertälje,region_Östra Orminge,region_Övre Gärdet
0,119099,23.3,1.0,1071,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0